.App {
  min-height:100vh;
  background-color: coral;
}
h1{
  margin-left: 250px;
  font-weight: 800;
}
h2{
  margin-left: 300px;
  font-weight: 800;
}
h3{
  margin-left: 250px;
  font-weight: 800;  
}
p:hover{
  color:darkblue;
}

.title{
  background-color: burlywood; 

  border: 5px solid black;
}
.red{
  width:40% ;
  margin-left: 600px; 
}



